<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ycdev.android.lib.common.test">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <permission
        android:name="${applicationId}.permission.DYNAMIC_BROADCAST"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.DYNAMIC_BROADCAST" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="true"
        android:name="me.ycdev.android.lib.common.AndroidLibTestApplication">

        <provider
            android:name="me.ycdev.android.lib.common.demo.provider.InfoProviderImpl"
            android:authorities="me.ycdev.android.lib.common.provider.InfoProvider"
            android:exported="true" />

        <service android:name="me.ycdev.android.lib.common.demo.service.LocalService" />
        <service
            android:name="me.ycdev.android.lib.common.demo.service.RemoteService"
            android:process=":remote" />
    </application>

</manifest>