<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ycdev.android.lib.common.test">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <permission
        android:name="${applicationId}.permission.DYNAMIC_BROADCAST"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.DYNAMIC_BROADCAST" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for me.ycdev.android.lib.common.test"
        android:targetPackage="me.ycdev.android.lib.common.test" />

    <application android:allowBackup="true"
        android:name="me.ycdev.android.lib.common.AndroidLibTestApplication">
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>